<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RFQCreditReports.Properties.Settings.Credit" connectionString="Data Source=USER-PC\SQL2014;Initial Catalog=Credit;Persist Security Info=True;User ID=sa;Password=sql2014"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>